html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  /* prevent scroll stutter */
  background: #000;
  touch-action: none;
  /* prevent pinch zoom interfering */
}